* {
  font-family: 'PT Serif', serif;
}

body {
  display: flex;
  flex-direction: column;
}

.ku-contain {
  margin: 100px 0px;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.ku-contain span a {
  top: -50px;
  left: 0%;
  position: absolute;
  font-size: 20px;
}

.ku-contain a:hover {
  color: #1a4059;
  text-decoration: none;
  cursor: pointer;
}

.ku-contain a:visited {
  color: #155780;
}

.ku-contain span {
  right: 100%;
}

#theku {
  display: flex;
  flex-direction: row;
  position: relative;
}

#kuLines {
  font-style: italic;
  font-size: 30px;
  margin-bottom: 50px;
}

@media only screen and (max-width: 500px) {
  #kuLines {
    font-size: 25px;
  }
}

#copy {
  background: url(content_copy-24px.svg);
  height: 25px;
  width: 25px;
  border: none;
  top: -50px;
  right: 0%;
  position: absolute;
  background-repeat: no-repeat;
  /*  z-index: 1;*/
}

#copy:hover {
  cursor: pointer;
}

#back {
  background: url(arrow_back-24px.svg);
  height: 25px;
  width: 25px;
  border: none;
  top: 20px;
  left: 10%;
  position: absolute;
  outline: none;
  background-repeat: no-repeat;
  /*  z-index: 1;*/
}

#back:hover {
  cursor: pointer;
}

@media only screen and (max-width: 500px) {
  #back {
    left: 10px;
    top: 10px;
  }
}

#copied_popup {
  background-color: #F4F9F6;
  border-radius: 6px;
  border: 1px solid #1a4059;
  display: inline-block;
  color: #1a4059;
  font-size: 18px;
  font-weight: 600;
  padding: 10px 28px;
  text-decoration: none;
  margin-top: 50px;
}

.newhaiku {
  box-shadow: 0px 0px 6px 0px #1c567a;
  background-color: #1a4059;
  border-radius: 6px;
  border: 1px solid #1a4059;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 18px;
  padding: 10px 28px;
  text-decoration: none;
}

.newhaiku:hover {
  background-color: #155780;
  color: #fff;
  text-decoration: none;
}

.newhaiku:active {
  position: relative;
  top: 1px;
}

#search{
  display: grid;
  grid-column-start: 1;
  grid-column-end: -1;
}

#haiku_grid{
  display:grid;
  width:60%;
  text-align: center;
  align-self: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

#myInput {
  display: flex;
  justify-content: center;
  align-self: center;
  background-position: 10px 12px;
  /* Position the search icon */
  background-repeat: no-repeat;
  /* Do not repeat the icon image */
  width: 100%;
  /* Full-width */
  font-size: 16px;
  /* Increase font-size */
  padding: 1% 5%;
  /* Add some padding */
  border: 1px solid #ddd;
  /* Add a grey border */
  margin: 50px 0px;
  /* Add some space below the input */
}

#myInput:focus {
  outline: 3px ridge #1a4059;
  border: none;
}


.highlight {
  background: #00FF00;
  padding: 1px;
  border: #00CC00 dotted 1px;
}


.indiv_haiku{
  min-width: 20ch;
  width : 100%;
  height : 100%;
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #F4F9F6;
  border-radius: 6px;
  transition: filter 0.5s;
}

.indiv_haiku:hover{
    filter: brightness(95%);
}

.indiv_haiku a{
    color: inherit;
    transition: color 0.5s;
}

.indiv_haiku:hover a{
  text-decoration: none;
  color:#155780;
}



